
@{
    ViewBag.Title = "UserAccounts";
}

<section class="content">
    <div class="container-fluid">


        <!-- general form elements -->
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">User Accounts</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" id="txtFullName" placeholder="Enter Full Name">
                            </div>
                            <div class="form-group">
                                <label>Contact No</label>
                                <input type="text" class="form-control" id="txtContactNo" placeholder="Contact No">
                            </div>
                            <div class="form-group">
                                <label>User name</label>
                                <input type="text" class="form-control" id="txtUserName" placeholder="Username">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="text" class="form-control" id="txtPassword" placeholder="Enter Password">
                            </div>
                            <div class="form-group ml-4">
                                <input type="checkbox" class="form-check-input" id="chkActive">
                                <label class="form-check-label">Is Active</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="button" class="btn btn-success" id="btnSave">Save</button>
                    <button type="button" class="btn btn-info">Update</button>
                </div>
            </form>
        </div>


    </div><!-- /.container-fluid -->
</section>

@*page load*@ 
<script type="text/javascript">
    window.onload = function () {
        $('#txtFullName').focus();
    }
</script>

@*Save User*@
<script type="text/javascript">
        $("#btnSave").click(function () {

            var FullName, ContactNo, Username, Password, IsActive;

            FullName = $('#txtFullName').val();
            ContactNo = $('#txtContactNo').val();
            Username = $('#txtUserName').val();
            Password = $('#txtPassword').val();
            IsActive = false;
            debugger;


            if ($('#chkActive').is(":checked")) {
                IsActive = true;
            }

            if (FullName == '') {
                alert('Enter full name!!!');
                $('#txtFullName').focus();
            }
            else if (ContactNo == '') {
                alert('Enter contact number!!!');
                $('#txtContactNo').focus();
            }
            else if (Username == '') {
                alert('Enter username!!!');
                $('#txtUserName').focus();
            }
            else if (Password == '') {
                alert('Enter password!!!');
                $('#txtPassword').focus();
            }
            else {
                if (confirm('Do you want to Save???')) {
                    debugger;

                    obj = {
                        FullName: FullName,
                        ContactNo: ContactNo,
                        Username: Username,
                        Password: Password,
                        IsActive: IsActive
                    };

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("saveUser", "User")',
                        data: JSON.stringify(obj),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                        success: function (response) {
                            var data = response.d;
                            data = JSON.parse(data);
                            if (data == true) {
                                alert('Department Saved!!!');
                                Clear_Controls();
                                getDepartments();
                            }
                            else {
                                alert('This Department already saved!!!');
                            }
                        }
                    });
                }
                 }

        });


</script>